.gradle
build/
run/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

*.class
build.gradle~

# Package Files #
*.jar
*.war
*.ear
/bin

# Ignore Eclipse files #
.settings
.project
.classpath

# Ignore Intellij files #
.idea
*.iml
*.iws
*.ipr
